<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.PosManagerDao">
	<!-- public void  addPosition(PositionPojo pos); -->
	<insert id="addPosition" parameterType="pojo.PositionPojo">
		INSERT INTO   position 
		VALUE(  SEQ_ABOUT_USER.NEXTVAL,
				#{pos_name,jdbcType=VARCHAR},
				#{pos_desc,jdbcType=VARCHAR},
				#{dep_id,jdbcType=DECIMAL});
	</insert>
	
	<!-- public void deletePosition(Long pos_id); -->
	<delete id="deletePosition" parameterType="java.lang.Long">
		DELETE  position
		WHERE	pos_id=#{pos_id}
	</delete>
	
	<!-- public void  updatePosition(PositionPojo pos); -->
	<update id="updatePosition" parameterType="pojo.PositionPojo">
		UPDATE   position
		<set>
		    <if test="pos_name!=null and pos_name!=''">
		    		pos_name=#{pos_name},
		    </if>
		     <if test="pos_desc!=null and pos_desc!=''">
		    		pos_desc=#{pos_desc}
		    </if>
		    <if test="dep_id!=null and dep_id!=''">
		    		dep_id=#{dep_id}
		    </if>
		</set>
		WHERE 	 pos_id=#{pos_id}
	</update>
	
	<!-- public PositionPojo getPositionById(Long pos_id); -->
	<select id="getPositionById" parameterType="java.lang.Long"  resultType="pojo.PositionPojo">	
		SELECT		pos_id,pos_name,pos_desc,dep_id
		FROM		position
		WHERE  		pos_id=#{pos_id}
	</select>
	
	<!-- public List  getPostionByDep(Long dep_id);  -->
	<select id="getPostionByDep" parameterType="java.lang.Long"  resultType="pojo.PositionPojo">	
		SELECT		pos_id,pos_name,pos_desc,dep_id
		FROM		position
		WHERE  		pos_id
		 IN   (	SELECT  pos_id 
		 		FROM    department
		 		WHERE	dep_id=#{dep_id}
		 	  )
	</select>
	
	<!-- public List  geAlltPositions(); -->
	<select id="geAlltPositions"   resultType="pojo.PositionPojo">	
		SELECT		pos_id,pos_name,pos_desc,dep_id
		FROM		position
		<where>
			  <if test="pos_id!=null and ''!=pos_id">
			  			pos_id=#{pos_id}
			  </if>
			   <if test="pos_name!=null and ''!=pos_name">
			  	AND 	pos_naem  like #{pos_name}
			  </if>
			   <if test="dep_id!=null and ''!=dep_id">
			  	AND 	dep_id=#{dep_id}
			  </if>
		</where>       
	</select>
	

</mapper>